@model Student

<h1>Thông tin chi tiết</h1>

<div>
    <h4>@Model?.HoTen</h4>
    <hr />
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LopHoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LopHoc)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiemTrungBinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiemTrungBinh)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.UserName)
        </dd>
        <dt class="col-sm-2">
            Password
        </dt>
        <dd class="col-sm-10">
            Có cái nịt
        </dd>

    </dl>
</div>

<div>
    <partial name="Btn-Edit" model="@Model" /> | 
    <partial name="Btn-Back" />
</div>

