@model StudentsListViewModel
<h2>Danh sách học sinh</h2>
<p>
    <partial name="Btn-Create" />
</p>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Lớp học</th>
            <th>Điểm TB</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Students ?? Enumerable.Empty<Student>())
        {
            <tr>
                <td>
                    @item.IdentityUser.UserName
                </td>
                <td>
                    @item.HoTen
                </td>
                <td>
                    @item.GioiTinh
                </td>
                <td>
                    @item.NgaySinh.ToShortDateString()
                </td>
                <td>
                    @item.LopHoc
                </td>
                <td>
                    @item.DiemTrungBinh.ToString("N2")
                </td>
                <td>
                    <partial name="IndexBtn" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="PagingBtn" />
