@model StudentsListViewModel
<h2>Danh sách học sinh</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Thêm học sinh mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Lớp học</th>
            <th>Điểm TB</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Students ?? Enumerable.Empty<Student>())
        {
            <tr>
                <td>
                    @item.HoTen
                </td>
                <td>
                    @item.GioiTinh
                </td>
                <td>
                    @item.NgaySinh.ToShortDateString()
                </td>
                <td>
                    @item.LopHoc
                </td>
                <td>
                    @item.DiemTrungBinh
                </td>
                <td>
                    <partial name="RUDBtn" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="PagingBtn" />
