@model StudentsListViewModel
<h2>Students</h2>
<p>
    <a asp-action="Create">Thêm học sinh mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ tên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Lớp học
            </th>
            <th>
                Điểm TB
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Students ?? Enumerable.Empty<Student>())
        {
            <tr>
                <td>
                    @item.HoTen
                </td>
                <td>
                    @item.GioiTinh
                </td>
                <td>
                    @item.NgaySinh.ToShortDateString()
                </td>
                <td>
                    @item.LopHoc
                </td>
                <td>
                    @item.DiemTrungBinh
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Xem</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div page-model="@Model?.PagingInfo" page-action="Index"></div>
