@model InfoViewModel

<h2>Welcome, @Model.Username!</h2>

@if (Model.Student != null)
{
    <h3>Thông tin Học sinh</h3>
    <p style="padding-bottom:10px">Họ tên: @Model.Student.HoTen</p>
    <p style="padding-bottom:10px">Giới tính: @Model.Student.GioiTinh</p>
    <p style="padding-bottom:10px">Ngày sinh: @Model.Student.NgaySinh.ToString("dd/MM/yyyy")</p>
    <p style="padding-bottom:10px">Địa chỉ: @Model.Student.DiaChi</p>
    <p style="padding-bottom:10px">Email: @Model.Student.Email</p>
    <p style="padding-bottom:10px">Số điện thoại: @Model.Student.SDT</p>
    

}
else if (Model.Teacher != null)
{
    <h3>Thông tin Giáo viên</h3>
    <p style="padding-bottom:10px">Họ tên: @Model.Teacher.HoTen</p>
    <p style="padding-bottom:10px">Giới tính: @Model.Teacher.GioiTinh</p>
    <p style="padding-bottom:10px">Ngày sinh: @Model.Teacher.NgaySinh.ToString("dd/MM/yyyy")</p>
    <p style="padding-bottom:10px">Địa chỉ: @Model.Teacher.DiaChi</p>
    <p style="padding-bottom:10px">Email: @Model.Teacher.Email</p>
        <p style="padding-bottom:10px">Số điện thoại: @Model.Teacher.SDT</p>
    

}
else if (Model.IsAdmin)
{
    <h3>Welcome Admin</h3>
    

}
else
{
    <p>User information not found.</p>
}
