@model IQueryable<Student>
@foreach (var s in Model ?? Enumerable.Empty<Student>())
{
    <div>
        <h3>@s.HoTen</h3>
        @s.GioiTinh
        @s.NgaySinh
        @s.DiaChi
        @s.LopHoc
        <h4>@s.DiemTrungBinh</h4>
    </div>
}